#ifndef {{ className | upper }}_HPP
#define {{ className | upper }}_HPP

#include <iostream>
#include <string>

class {{ className }}
{

	public:

		{{ className }}(void);
		{{ className }}({{ className }} const & other);
		~{{ className }}(void);

		{{ className }} &operator=({{ className }} const & rhs);

	private:

};

#endif
