#include "{{ className }}.hpp"

{{ className }}::{{ className }}(void)
{
}

{{ className }}::{{ className }}({{ className }} const & other)
{
	*this = other;
}

{{ className }}::~{{ className }}(void)
{
}

{{ className }} &{{ className }}::operator=({{ className }} const & rhs)
{
	return *this;
}
